[submodule "AndroidCodeQualityConfig"]
	path = AndroidCodeQualityConfig
	url = https://github.com/Piasy/AndroidCodeQualityConfig.git
[submodule "base"]
	path = base
	url = https://github.com/Piasy/AndroidTDDBootStrap-base.git
[submodule "testbase"]
	path = testbase
	url = https://github.com/Piasy/AndroidTDDBootStrap-testbase.git
